#Libraries, Directoy and Data

In [2]:
%cd /content/drive/MyDrive/Business Analyst course/Statistics and Descriptive Analytics/Basic Statistics

/content/drive/MyDrive/Business Analyst course/Statistics and Descriptive Analytics/Basic Statistics

In [3]:
#Libraries
import pandas as pd
import seaborn as sns

In [4]:
#Load the dataset
df = pd.read_csv("Baseball.csv")

In [5]:
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

#Mean

In [10]:
#Mean of Runs Scrored (RS)
#steps (Where is the data? What is the data? What to do with the data?)

df.RS.mean()

715.0819805194806

In [13]:
#Mean of Runs Scored (RS) by the Arizona Team (ARI)
df.loc[df.Team == "ARI"].RS.mean()

742.2

In [14]:
#Mean of Runs Scored (RS) by the Arizona Team (ARI) since 2005
df.loc[(df.Team == "ARI") & (df.Year > 2005)].RS.mean()

729.0

In [ ]:
# Question: What is the mean of Runs Allowed (RA) by Chicago Team (CHC) untill 2007

In [16]:
df.loc[(df.Team == "CHC") & (df.Year < 2007)].RA.mean()

728.170731707317